h2 {
  color: #423533 !important;
}

em {
  color: #d8bfb6;
  // color: #886E68;
}

.about {
  font-weight: 500;
  color: #886E68;
}

.portrait {
  display: flex;
  align-items: center;

  img {
    width: 100%;
    border-radius: 26%;
  }
}
