#contact {
  background-color: #d8bfb6;
  padding-bottom: 7vh;
}
.contact {
  display: flex;
  justify-content: center;
}

.iframe {
  background-color: white;
  padding-top: 1vh;
}

iframe {
  height: 76vh;
  width: 60vw;
  //72, 78
}
