#contact {
  background-color: #d8bfb6;
  padding-bottom: 7vh;
}
.contact {
  // width: 50%;
  display: flex;
  justify-content: center;
}

.iframe {
  background-color: white;
  max-width: min-content;
  padding-top: 1vh;
}